@model IEnumerable<WebApplication3.Models.TaskGroup>



<div class="tile-small-container">
    <a href="~/TaskGroups/Create" class="tile tile-small violet" style="line-height:50px; font-size:30px">
        <img src="~/Icons/plus-8x копия.png" class="tile-small-icon" />
    </a>
    <a href="~/TaskGroups/Create" class="tile tile-small violet" style="line-height:50px; font-size:30px">
        <img src="~/Icons/magnifying-glass-8x копия.png" class="tile-small-icon" />
    </a>
    <a href="~/TaskGroups/Create" class="tile tile-small violet" style="line-height:50px; font-size:30px">
        +
    </a>
    <a href="~/TaskGroups/Create" class="tile tile-small violet" style="line-height:50px; font-size:30px">
        +
    </a>

</div>




@foreach (var group in Model)
{
    <a href="~/TaskGroups/Details/@group.Id">
        <div class="tile tile-wide violet">
            <div class="tile-wide-inner">
                <div class="tile-wide-inner-part" style="vertical-align:middle;display: table-cell; padding:3px;">
                    @group.Name (заданий - @group.CodeTasks.Count)
                </div>
                <div class="tile-wide-inner-part" style="text-align:justify; padding:3px;">
                    @group.Description
                </div>
            </div>
        </div>
    </a>
}







